<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IVR SB</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/content/site.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
</head>
<body class="container">
    <div >
    	There's the path ... 
        <br/>
        <p class="lead">Shreyas, call'em now !!! </p>
        <!-- {% block content %}{% endblock %}

        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %} -->
    </div>
    <footer>
        with <i class="fa fa-heart"></i> by Shreyas</a>
    </footer>

    <!-- {% block scripts %}{% endblock %} -->
</body>
</html>